.cta-container{
    margin: 0 auto;
    max-width: 1345px;
    height: 468px;

    img{
        margin-top: 90px;
        display: flex;
        justify-content: center;
        height: 288px;
    }
}